<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>name of user</title>
  </head>
  <body>
    <section>
      <img src="" alt="">
      <h1></h1>
      <p>place, position</p>
      <p>email, phone</p>
    </section>
  </body>
</html>
