<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Directory</title>
    <link rel="stylesheet" href="/main.css">
  </head>
  <body>
    <ul>
      <li>
        <img src="" alt="">
        <h4></h4>
      </li>
    </ul>
  </body>
</html>
